
/*****************************************************************************************/
/*                                                                                       */
/*                                                                                       */
/*                                     DOUCUMENT CSS                                     */
/*                                       (JavaFx)                                        */
/*                                                                                       */
/*                                                                                       */
/*****************************************************************************************/



/* --------------------------------------- Tchat --------------------------------------- */
.tchat-contenu  {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-background: white; 
}

#tchat-heure{
	-fx-text-fill: blue;
}

#tchat-nom{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#tchat-msg{
	-fx-wrap-text: true;
	-fx-text-fill: white;
	-fx-white-space: nowrap; 
    -fx-text-overflow: ellipsis;
    -fx-overflow: hidden;
}
#v {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 4, 4);
	-fx-padding: 5;
	-fx-background-color: rgb(51, 153, 255);
	-fx-background-radius: 10px;
}

#v2 {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 4, 4);
	-fx-padding: 5;
	-fx-background-color: rgb(153, 204, 255);
	-fx-background-radius: 10px;
}

#mail-msg {
	-fx-background-color: white;
	-fx-padding: 6 10 0 10;
}

#sondage {
	-fx-background-color: white;
}

/*#tchat-list {
-fx-background-color: linear-gradient(#04B45F, #81F79F);
}*/


/* -------------------------------------- Button -------------------------------------- */
.button {    
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}


/* ------------------------------------- ChoiceBox ------------------------------------- */
.choice-box .context-menu { 
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
    }

.choice-box .menu-item:focused { 
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.choice-box .menu-item > .label { 
	-fx-text-fill: white;
}

.choice-box .menu-item:focused > .label { 
	-fx-text-fill: black;
}

.choice-box:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.choice-box {
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-mark-color: #2A5058; /*  arrow color*/
}

.choice-box > .label { 
	-fx-text-fill: white;
}