.tchat-contenu  {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-background: white; 
}

#tchat-heure{
	-fx-text-fill: blue;
}

#tchat-nom{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#tchat-msg{
	-fx-wrap-text: true;
	-fx-text-fill: white;
	-fx-white-space: nowrap; 
    -fx-text-overflow: ellipsis;
    -fx-overflow: hidden;
}
#v {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 4, 4);
	-fx-padding: 5;
	-fx-background-color: rgb(51, 153, 255);
	-fx-background-radius: 10px;
}

#v2 {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 4, 4);
	-fx-padding: 5;
	-fx-background-color: rgb(153, 204, 255);
	-fx-background-radius: 10px;
}

/*#hBox {
-fx-background-color: linear-gradient(#04B45F, #81F79F);
}*/